.sing-in{
    .container{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        
        .title{
            
            font-size: 20px;
            text-align: center;
            
        }
        .form-container{
            margin-top: 20px;
        }
        
    }
}